@{
    ViewData["Title"] = "Home Page";
}

@using Main.Web.Models;
@model UserVievModel;

<div>
    <form asp-action="Login" asp-controller="Home" class="form-horizontal">
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" type="text" value="@Model.Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Vorname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Vorname" type="text" value="@Model.Vorname" class="form-control" />
                <span asp-validation-for="Vorname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" type="password" value="@Model.Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-xs btn-success">Login</button>
        </div>
        <div class="form-group">
            <button type="button" onclick="postServer()" class="btn btn-xs btn-success">Post(Ajax)</button>
        </div>
    </form>
</div>

<script>
    function postServer() {
        console.debug("POST(Ajax)!");
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "Home/Test",
            data: { name: "John", location: "Boston" },
            cache: false,

            success: function (response) {
                console.debug("success");
                console.debug(response);
            },
            error: function (error, textStatus, errorThrown) {
                console.debug("error");
                console.debug(error);
                console.debug(errorThrown);


                //$('#errIframe').html(error.responseText);
                $('#errIframe').contents().find('body').html(error.responseText)
                $('.modal').modal('show');
            }
        });
    }
</script>