@{
    ViewData["Title"] = "Home Page";
}

@using Main.Web.Models;
@model UserVievModel;

<div class="row row-buffer-top">
    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
        <form asp-action="Login" asp-controller="Home" class="form-horizontal">
            <div class="row row-buffer-top">
                <vm-input vm-target="Name"></vm-input>
            </div>

            <div class="row row-buffer-top">
                <vm-input vm-target="Vorname"></vm-input>
            </div>

            <div class="row row-buffer-top">
                <vm-input vm-type="Password" vm-target="Password"></vm-input>
            </div>

            <div class="row row-buffer-top">
                <div class="form-group-sm col-xs-12 col-lg-12">
                    <div class="btn-group btn-group-lg hidden-sm hidden-md hidden-lg col-xs-12">
                        <button type="submit" class="btn btn-lg btn-success col-xs-12">Login</button>
                        <button type="button" onclick="postServer()" class="btn btn-lg col-xs-12">Post(Ajax)</button>
                    </div>
                    <div class="btn-group hidden-xs btn-group-sm col-sm-offset-9 col-sm-3 col-lg-offset-8 col-lg-4">
                        <button type="submit" class="btn btn-sm btn-success col-sm-6">Login</button>
                        <button type="button" onclick="postServer()" class="btn btn-sm col-sm-6">Post(Ajax)</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row row-buffer-top">
            <div class="form-group-sm col-xs-12 col-lg-12">
                <div class="col-xs-12 col-lg-10 col-lg-offset-2">
                    <textarea class="form-control" id="textContent" rows="5">@Model.Name</textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function postServer() {
        $('#textContent').html();
        console.debug("POST(Ajax)!");

        var myData = { name: "John", location: "Boston" };
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.extend(myData, { '__RequestVerificationToken': token });


        console.debug(myData);

        $.ajax({
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            url: "/Home/Test",
            data: myData,
            cache: false,

            success: function (response) {
                $('#textContent').html(JSON.stringify(response));
                console.debug(response);
            },
            error: function (error, textStatus, errorThrown) {
                console.debug(error);
                console.debug(errorThrown);
                console.debug(this);
                $('#textContent').html(JSON.stringify(error));
                $('#errIframe').contents().find('body').html(error.responseText)
                $('.modal').modal('show');
            }
        });
    }
</script>
