@{
    ViewData["Title"] = "Home Page";
}

@using Main.Web.Models;
@model HomeViewModel;

<div class="container">
    <div class="row row-buffer-top">
        <div class="col-xs-12 col-lg-12">

            <div class="form-group-sm col-xs-12 col-lg-12">
                <div class="btn-group">
                    <button type="button" onclick="onClickDown()" class="btn btn-sm">--</button>
                </div>
            </div>
            <div class="form-group-sm col-xs-12 col-lg-12">
                <div class="btn-group">
                    <button type="button" onclick="onClickMute()" class="btn btn-sm @(Model.Mute == true ? "btn-danger" : "btn-success")" id="muteBtn">@Model.VolumnPercent</button>
                </div>
            </div>
            <div class="form-group-sm col-xs-12 col-lg-12">
                <div class="btn-group">
                    <button type="button" onclick="onClickUp()" class="btn btn-sm">+</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-buffer-top">
    <div class="form-group-sm col-xs-12 col-lg-12">
        <div class="col-xs-12 col-lg-12">
            <textarea class="form-control" id="textContent" rows="5"></textarea>
        </div>
    </div>
</div>