@{
    ViewData["Title"] = "Home Page";
}

@using Main.Web.Models;
@model UserVievModel;

<div>
    <form asp-action="Login" asp-controller="Home" class="form-horizontal">

        <vm-input vm-target="Name"></vm-input>
        <vm-input vm-target="Vorname"></vm-input>
        <vm-input vm-type="Password" vm-target="Password"></vm-input>

        <div class="form-group">
            <button type="submit" class="btn btn-xs btn-success">Login</button>
        </div>
        <div class="form-group">
            <button type="button" onclick="postServer()" class="btn btn-xs btn-success">Post(Ajax)</button>
        </div>
    </form>


    @*<vm vm-target="Vorname"></vm>*@

</div>

<script>
    function postServer() {
        console.debug("POST(Ajax)!");
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "Test",
            data: { name: "John", location: "Boston" },
            cache: false,

            success: function (response) {
                console.debug(response);
            },
            error: function (error, textStatus, errorThrown) {
                console.debug(error);
                console.debug(errorThrown);
                                
                $('#errIframe').contents().find('body').html(error.responseText)
                $('.modal').modal('show');
            }
        });
    }
</script>