@{
    ViewData["Title"] = "Home Page";
}

@using Main.Web.Models;
@model HomeViewModel;


<div class="row row-buffer-top" id="soundContentContainer">
    <iframe id="soundContent"
            sandbox="allow-forms allow-same-origin allow-scripts allow-top-navigation"
            title="SoundContent"
            frameBorder="0"
            allowfullscreen
 
            
            ></iframe>
</div>
@*src="http://rrsound.de/home"*@
@*src="http://localhost:58157/home"*@
           @*src="http://localhost:58157"*@

