@{
    ViewData["Title"] = "Home Page";
}

@using Main.Web.Models;
@model UserVievModel;

<div class="row row-buffer-top">
    <div class="col-md-6 col-md-offset-3">
        <form asp-action="Login" asp-controller="Home" class="form-horizontal">
            <div class="row">
                <vm-input vm-target="Name"></vm-input>
            </div>
            <div class="row">
                <vm-input vm-target="Vorname"></vm-input>
            </div>
            <div class="row">
                <vm-input vm-type="Password" vm-target="Password"></vm-input>
            </div>

            <div class="row text-right">
                <button type="submit" class="btn btn-sm btn-success">Login</button>
                <button type="button" onclick="postServer()" class="btn btn-sm btn-success">Post(Ajax)</button>
            </div>
        </form>
    </div>
</div>

<script>
    function postServer() {
        console.debug("POST(Ajax)!");
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "Test",
            data: { name: "John", location: "Boston" },
            cache: false,

            success: function (response) {
                console.debug(response);
            },
            error: function (error, textStatus, errorThrown) {
                console.debug(error);
                console.debug(errorThrown);

                $('#errIframe').contents().find('body').html(error.responseText)
                $('.modal').modal('show');
            }
        });
    }
</script>
