@{
    ViewData["Title"] = "Home Page";
}

@using Main.Web.Models;
@model UserVievModel;

<div class="row row-buffer-top">
    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
        <form asp-action="Login" asp-controller="Account" asp-route-returnurl="@ViewBag.ReturnUrl" class="form-horizontal">
            <div class="row row-buffer-top">
                <vm-input vm-target="Name"></vm-input>
            </div>

            <div class="row row-buffer-top">
                <vm-input vm-target="Vorname"></vm-input>
            </div>

            <div class="row row-buffer-top">
                <vm-input vm-type="Password" vm-target="Password"></vm-input>
            </div>

            <div class="row row-buffer-top">
                <div class="form-group-sm col-xs-12 col-lg-12">
                    <div class="col-xs-12 col-lg-12 text-right">
                        <span class="text-danger">@Html.ValidationMessage("LoginError")</span>
                    </div>
                </div>
            </div>

            <div class="row row-buffer-top">
                <div class="form-group-sm col-xs-12 col-lg-12">
                    <div class="btn-group btn-group-lg hidden-sm hidden-md hidden-lg col-xs-12">
                        <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                    </div>
                    <div class="btn-group hidden-xs btn-group-sm col-sm-offset-10 col-sm-2 col-lg-offset-9 col-lg-3">
                        <button type="submit" class="btn btn-sm btn-success btn-block">Login</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row row-buffer-top">
            <div class="form-group-sm col-xs-12 col-lg-12">
                <div class="col-xs-12 col-lg-10 col-lg-offset-2">
                    <textarea class="form-control" id="textContent" rows="5">@Model.Name</textarea>
                </div>
            </div>
        </div>
    </div>
</div>