body {
    padding: 0;
    margin: 0;
}


.body-content {
    display: block;
}



/*@media (min-width: 1600px) {
    .modal-lg {
        width: 1600px;
    }
}

.modal-body {
    position: relative;
    overflow-y: auto;
    height: 800px;
    max-height: 800px;
    padding: 15px;
}

#errIframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}*/

.row-buffer-top {
    padding-top: 15px;
}

.noPadding-LR {
    padding-left: 0;
    padding-right: 0;
}
