body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



@media (min-width: 1600px) {
    .modal-lg {
        width: 1600px;
    }
}

.modal-body {
    position: relative;
    overflow-y: auto;
    height: 800px;
    max-height: 800px;
    padding: 15px;
}

#errIframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.row-buffer-top {
    padding-top: 15px;
}

@media (max-width: 796px) {
    #soundContent {
        margin: 0 ;
        padding: 0 ;
        height: 46px ;
        width: 100% ;
    }
}

@media (min-width: 796px) {
    #soundContent {
        margin: 0;
        padding: 0;
        height: 30px;
        width: 100%;
    }
}
